@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    text-align: center;
    background: radial-gradient(at left top, #f6fbff, #d2e6f6);
    background-repeat: no-repeat;
    height: 100%;
}

.glassmorphism{
    @apply bg-opacity-30 backdrop-blur-lg
  }